.main{
    background-color: rgb(77, 213, 254);
    width: 70%;
    text-align: center;
    border: 1 px grey solid;
    border-radius: 5px;
    display: block;
    margin: auto;
    background-image: url('/public/quizBG.png');
    height: 700px;
    position: relative;
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
    max-width: 600px;

}
.question-container{
    position: absolute;
    top: 33px;
    left: 39px;
    width: 65%;    
}
h2{
    color: aliceblue;
    margin-left: 0px;
}
.options{
    display: block;
    text-align: left;
    margin-left: 70px;
}
.sub_btn{
    display: block;
    text-align: left;
    margin-left: 80px;
    background-color: green;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    text-wrap: nowrap;
}
.fixed-bottom h2,
.fixed-bottom button
{
    text-wrap: nowrap;
    margin-top:  0px;
}
.fixed-bottom{
    display: flex;
    justify-content: space-between;
    width: 80%; 
    gap: 20px;
    align-items: center;
    margin-top: 200px;
}
.fixed-bottom h2{
    width: fit-content;
}
.reload{
    margin-left: 45%;
    background-color: transparent;
    border: 2px black solid;
    
}
.btn_cont{
    display: flex;
    text-align: center;
    width: 100%;
}
@media (max-width:780px) {
    .main{
        width: 100%;
    
    }
    .question-container {
        position: absolute;
        top: 26px;
        width: 86%;
        left: 73px;
    }
    .options {
        margin-left: 0;
    }
    h2 {
        color: aliceblue;
        margin-left: -14px;
        font-size: 18px;
        text-align: start;
        width: 90%;
    }
    .fixed-bottom{
        margin-top: 100px;
    }
    .reload {
        margin-left: 0;
        background-color: transparent;
        border: 2px black solid;
    }
}
